<mat-card>
  <mat-card-content>
    <form [formGroup]="usuarioIncluirFormGroup">
      <mat-card-content>
        <mat-card-title>{{ 'INCLUIR_USUARIO' | translate }}</mat-card-title>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field class="formulario-full-width">
          <input matInput placeholder="{{ 'NOME' | translate }}" id="nome" formControlName="nome" name="nome"
            [(ngModel)]="modelo.nome" required />
        </mat-form-field><br>
        <mat-form-field class="formulario-full-width">
          <input matInput placeholder="{{ 'LOGIN' | translate }}" id="login" formControlName="login" name="login"
            [(ngModel)]="modelo.login" required />
        </mat-form-field><br>
        <mat-form-field class="formulario-full-width">
          <input matInput placeholder="{{ 'ROLE' | translate }}" id="role" formControlName="role" name="role"
            [(ngModel)]="modelo.role" required />
        </mat-form-field><br>
        <mat-form-field class="formulario-full-width">
          <input matInput placeholder="{{ 'SENHA' | translate }}" id="senha" formControlName="senha" name="senha"
            [(ngModel)]="modelo.senha" required />
        </mat-form-field><br>
        <mat-form-field class="formulario-full-width">
          <input matInput placeholder="{{ 'CONFIRME_SENHA' | translate }}" id="confirmacaoSenha"
            formControlName="confirmacaoSenha" name="confirmacaoSenha" [(ngModel)]="modelo.confirmacaoSenha" required />
        </mat-form-field><br>
        <mat-card-content>
          <h6 class="text-danger m-t-0 m-b-10">{{ 'CAMPOS_OBRIGATORIOS' | translate }}</h6>
          <button (click)="salvarForm()" mat-mini-fab type="button"
            matTooltip="{{ 'SALVAR' | translate }} {{ 'USUARIO' | translate }}" mat-fab color="primary" mat-card-icon
            class="shadow-none">
            <mat-icon>save</mat-icon>
          </button>&nbsp;
          <button mat-mini-fab type="button" matTooltip="{{ 'LIMPAR' | translate }} {{ 'USUARIO' | translate }}" mat-fab
            color="primary" mat-card-icon class="shadow-none" (click)="limpar()">
            <mat-icon>clear_all</mat-icon>
          </button>&nbsp;
          <button mat-mini-fab type="button" matTooltip="{{ 'VOLTAR' | translate }} {{ 'USUARIO' | translate }}" mat-fab
            color="primary" mat-card-icon class="shadow-none" (click)="voltar()">
            <mat-icon>backspace</mat-icon>
          </button>
        </mat-card-content>
      </mat-card-content>
    </form>
  </mat-card-content>
</mat-card>
