<ng-container *ngIf="!shouldRun">
  <mat-toolbar class="menu-header" color="primary" class="fixed-header">
    <mat-toolbar-row>
      <span>{{ 'SISTEMA' | translate }} {{ 'NOME_DO_SISTEMA' | translate }}</span>
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon class="menu-icon" aria-hidden="false">menu</mat-icon>
      </button>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
          {{ lang }}</option>
      </select>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>supervised_user_circle</mat-icon>
          <span>{{ 'EDITAR_SEU_REGISTRO' | translate }}</span>
        </button>
        <button mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>{{ 'LOGIN_PAGINA.LOGOUT' | translate }}</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="menu-container">
    <mat-sidenav #sidenav mode="side" opened class="menu-sidenav" [fixedInViewport]="options.value.fixed"
      [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom">
      <mat-list>
        <mat-list-item>
          <mat-icon class="menu-icon" aria-hidden="false">graphic_eq</mat-icon>
          <a [routerLink]="['/']">&nbsp;&nbsp; {{ 'MENU.DASHBOARD' | translate }}</a>
        </mat-list-item>
        <mat-list-item>
          <mat-icon class="menu-icon" aria-hidden="false">record_voice_over</mat-icon>
          <a [routerLink]="['/especialidades/pesquisar']">&nbsp;&nbsp; {{ 'MENU.ESPECIALIDADES' | translate }}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon class="menu-icon" aria-hidden="false">group_work</mat-icon>
          <a [routerLink]="['/planos-saude/pesquisar']">&nbsp;&nbsp; {{ 'MENU.PLANO_DE_SAUDE' | translate }}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon class="menu-icon" aria-hidden="false">settings_system_daydream</mat-icon>
          <a [routerLink]="['/pacientes/pesquisar']">&nbsp;&nbsp; {{ 'MENU.PACIENTES' | translate }}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon class="menu-icon" aria-hidden="false">perm_contact_calendar</mat-icon>
          <a [routerLink]="['/fichas-paciente/pesquisar']">&nbsp;&nbsp; {{ 'MENU.FICHA_DE_PACIENTES' | translate }}</a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <mat-icon class="menu-icon" aria-hidden="false">supervised_user_circle</mat-icon>
          <a [routerLink]="['/usuarios/pesquisar']">&nbsp;&nbsp; {{ 'MENU.USUARIOS' | translate }}</a>
        </mat-list-item>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <mat-toolbar class="menu-footer">{{ 'SISTEMA' | translate }} {{ 'VERSAO' | translate }} : 0.0.1</mat-toolbar>
</ng-container>
